.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  // overflow: hidden;
  margin-top: 20px;
  // background-color: #000;

  .hero-image {
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    position: absolute;
    top: 20;
    margin-left: 50px;
    z-index: -1;
    border-radius: 55px;
    opacity: 1; 
      filter: brightness(80%); 
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 0 100px;
    color: #fff;
    border-radius: 50%;
  }

  .title {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    margin-bottom: 250px;
  }

  .card {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 100px;
    // max-width: 300px;
    width: 500px;
    position: relative;
    z-index: 1;
  }

  .main-card {
    margin-bottom: 10px;
  }

  .video-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;

    .play-icon {
      color: white;
      font-size: 2rem;
    }
  }

  .button {
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: none;

    &:hover {
      background-color: #555;
    }
  }

  .circle {
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    animation: rotate 10s linear infinite;
  
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: -5px -5px; /* Adjust the radius for spacing */
      white-space: nowrap;
    }
  
    span:nth-child(1) {
      transform: rotate(0deg) translate(0, -65px); /* First item at top */
    }
    span:nth-child(2) {
      transform: rotate(90deg) translate(0, -65px); /* Second item at right */
    }
    span:nth-child(3) {
      transform: rotate(180deg) translate(0, -65px); /* Third item at bottom */
    }
    span:nth-child(4) {
      transform: rotate(270deg) translate(0, -65px); /* Fourth item at left */
    }
  }
  
  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}

@media (max-width: 1280px) {
  .hero {
    width: 100%;
    height: 650px;
    margin-bottom: -200px;
    margin-left: -20px;
    border-radius: 0%;
  }
  .hero .circle {
    top: 370px;
    left: 1000px;
  }
  .hero .title {
    font-size: 5rem;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 260px;
  }

  .hero .card {
    width: 350px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 1024px) {
  .hero {
    width: 1020px;
    height: 950px;
    margin-bottom: -200px;
    margin-left: -20px;
    border-radius: 0%;
  }
  .hero .circle {
    top: 600px;
    left: 750px;
  }
  .hero .title {
    font-size: 5rem;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 150px;
  }

  .hero .card {
    width: 350px;
    margin-top: 100px;
  }
  .hero .main-card {
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 912px) {
  .hero {
    width: 920px;
    height: 950px;
    margin-bottom: -200px;
    margin-left: -30px;
    border-radius: 0%;
  }
  .hero .circle {
    top: 600px;
    left: 650px;
  }
  .hero .title {
    font-size: 5rem;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 130px;
  }

  .hero .card {
    width: 350px;
    margin-top: 100px;
  }
  .hero .main-card {
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 853px) {
  .hero {
    width: 840px;
    height: 750px;
    margin-left: -30px;
    border-radius: 0%;
  }
  .hero .circle {
    top: 450px;
    left: 600px;
  }
  .hero .title {
    font-size: 5rem;
    margin-top: 250px;
    margin-bottom: 100px;
    margin-left: 80px;
  }

  .hero .card {
    width: 350px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 100px;
    margin-left: -20px;
  }
}

@media (max-width: 820px) {
  .hero {
    width: 800px;
    height: 750px;
    margin-left: -30px;
    border-radius: 0%;
  }
  .hero .circle {
    top: 450px;
    left: 550px;
  }
  .hero .title {
    font-size: 5rem;
    margin-top: 250px;
    margin-bottom: 100px;
    margin-left: 50px;
  }

  .hero .card {
    width: 350px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 100px;
    margin-left: -20px;
  }
}

@media (max-width: 768px) {
  .hero {
    width: 750px;
    height: 650px;
    margin-left: -60px;
    border-radius: 0%;
  }
  .hero .circle {
    top: 400px;
    left: 550px;
  }
  .hero .title {
    font-size: 5rem;
    margin-top: 250px;
    margin-bottom: 100px;
    margin-left: 50px;
  }

  .hero .card {
    width: 350px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 100px;
    margin-left: -20px;
  }
}

@media (max-width: 540px) {
  .hero {
    width: 515px;
    height: 250px;
    margin-left: -62px;
    border-radius: 0%;
    margin-top: 0px;
    margin-bottom: -80px;
  }
  .hero .circle {
    display: none;
  }
  .hero .title {
    font-size: 3rem;
    margin-top: 250px;
    margin-bottom: 50px;
  }

  .hero .card {
    width: 400px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 0px;
    margin-left: -10px;
  }
}

@media (max-width: 501px) {
  .hero {
    width: 450px;
    height: 250px;
    margin-left: -62px;
    border-radius: 0%;
    margin-top: 0px;
    margin-bottom: -80px;
  }
  .hero .circle {
    display: none;
  }
  .hero .title {
    font-size: 3rem;
    margin-top: 250px;
    margin-bottom: 50px;
  }

  .hero .card {
    width: 350px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 0px;
    margin-left: -15px;
  }
}


@media (max-width: 430px) {
  .hero {
    width: 400px;
    height: 200px;
    margin-left: -66px;
    border-radius: 0%;
  }
  .hero .circle {
    display: none;
  }
  .hero .title {
    font-size: 3rem;
    margin-top: 250px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .hero .card {
    width: 300px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 0px;
    margin-left: -10px;
  }
}

@media (max-width: 414px) {
  .hero {
    width: 380px;
    height: 200px;
    margin-left: -65px;
    border-radius: 0%;
  }
  .hero .circle {
    display: none;
  }
  .hero .title {
    font-size: 3rem;
    margin-top: 250px;
    margin-bottom: 50px;
    margin-left: -15px;
  }

  .hero .card {
    width: 300px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 0px;
    margin-left: -20px;
  }
}

@media (max-width: 412px) {
  .hero {
    width: 380px;
    height: 200px;
    margin-left: -62px;
    border-radius: 0%;
  }
  .hero .circle {
    display: none;
  }
  .hero .title {
    font-size: 3rem;
    margin-top: 250px;
    margin-bottom: 50px;
    margin-left: -15px;
  }

  .hero .card {
    width: 300px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 0px;
    margin-left: -20px;
  }
}

@media (max-width: 390px) {
  .hero {
    width: 350px;
    height: 200px;
    margin-left: -60px;
    border-radius: 0%;
  }
  .hero .circle {
    display: none;
  }
  .hero .title {
    font-size: 3rem;
    margin-top: 250px;
    margin-bottom: 50px;
    margin-left: -30px;
  }

  .hero .card {
    width: 300px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 0px;
    margin-left: -35px;
  }
}

@media (max-width: 375px) {
  .hero {
    width: 335px;
    height: 200px;
    margin-left: -60px;
    border-radius: 0%;
  }
  .hero .circle {
    display: none;
  }
  .hero .title {
    font-size: 3rem;
    margin-top: 250px;
    margin-bottom: 50px;
    margin-left: -40px;
  }

  .hero .card {
    width: 280px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 0px;
    margin-left: -30px;
  }
}

@media (max-width: 360px) {
  .hero {
    width: 315px;
    height: 200px;
    margin-left: -55px;
    border-radius: 0%;
  }
  .hero .circle {
    display: none;
  }
  .hero .title {
    font-size: 2.5rem;
    margin-top: 250px;
    margin-bottom: 50px;
    margin-left: -20px;
  }

  .hero .card {
    width: 260px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 0px;
    margin-left: -30px;
  }
}

@media (max-width: 344px) {
  .hero {
    width: 310px;
    height: 200px;
    margin-left: -63px;
    border-radius: 0%;
  }
  .hero .circle {
    display: none;
  }
  .hero .title {
    font-size: 2rem;
    margin-top: 250px;
    margin-bottom: 50px;
    margin-left: 10px;
  }

  .hero .card {
    width: 250px;
    height: 150px;
    margin-top: 0px;
  }
  .hero .main-card {
    margin-bottom: 0px;
    margin-left: -30px;
  }
}