// _variables.scss
$primary-color: #3498db;
$font-family: 'Arial, sans-serif';

// main.scss
@import 'variables';

body {
    font-family: $font-family;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: $primary-color;
    padding: 20px;
    color: white;

    nav ul {
        list-style: none;
        display: flex;

        li {
            margin: 0 15px;
        }
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}
