.get-in-touch {
  position: relative;
  display: flex;
  gap: 40px;
  height: 100vh;
  padding: 0 40px;
  // margin-top: 150px;
  background-color: #fff;
  color: #333;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 16px;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}


.get-in-touch-title {
  position: absolute;
  top: -150px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: black;
  z-index: 1;
  padding: 10px 20px;
  border-radius: 8px;
}

.get-in-touch-left {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url('../../components/Assets/2.webp');
  background-size: cover; /* Cover the container with the image */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden; /* Ensures the image fits within the rounded corners */
  height: 80%; /* Ensures full height */
}

.get-in-touch-content {
  position: relative;
  text-align: center;
  max-width: 400px;
  color: #333;
  // background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  margin: 50px;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.get-in-touch-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: black;
}

.get-in-touch-content p {
  margin: 10px 0;
}

.get-in-touch-socials {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}

.get-in-touch-socials a {
  color: #333;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.get-in-touch-socials a:hover {
  color: #0073e6;
}

.get-in-touch-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.get-in-touch-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 1rem;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.get-in-touch-submit {
  // padding: 10px 20px;
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.get-in-touch-submit:hover {
  background-color: #005bb5;
}

@media (max-width: 1280px) {
  .get-in-touch-content h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 1024px) {
  .get-in-touch {
    padding: 0 20px;
    height: 50vh;
  }

  .get-in-touch-content h2 {
    font-size: 1.6rem;
  }
  .get-in-touch-left,
  .get-in-touch-right {
    height: 80%;
  }
}

@media (max-width: 912px) {
  .get-in-touch {
    flex-direction: column;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .get-in-touch-title {
    font-size: 25px;
    margin-top: 50px;
  }

  .get-in-touch-left,
  .get-in-touch-right {
    width: 90%;
    margin: 0;
  }

  .get-in-touch-form {
    max-width: 100%;
  }

  .get-in-touch-content h2 {
    font-size: 0.9rem;
  }
  .get-in-touch-submit {
    padding: 0px;
    width: 100%;
    font-size: 0.85rem;
  }
}

@media (max-width: 820px) {
  .get-in-touch {
    flex-direction: column;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .get-in-touch-title {
    font-size: 25px;
    margin-top: 50px;
  }

  .get-in-touch-left,
  .get-in-touch-right {
    width: 95%;
    margin: 0;
  }

  .get-in-touch-form {
    max-width: 100%;
  }

  .get-in-touch-content h2 {
    font-size: 0.9rem;
  }
  .get-in-touch-submit {
    padding: 0px;
    width: 100%;
    font-size: 0.85rem;
  }
}

@media (max-width: 768px) {
  .get-in-touch {
    flex-direction: column;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .get-in-touch-title {
    font-size: 25px;
    margin-top: 50px;
  }

  .get-in-touch-left,
  .get-in-touch-right {
    width: 95%;
    margin: 0;
  }

  .get-in-touch-form {
    max-width: 100%;
  }

  .get-in-touch-content h2 {
    font-size: 0.9rem;
  }
  .get-in-touch-submit {
    padding: 0px;
    width: 100%;
    font-size: 0.85rem;
  }
}

@media (max-width: 540px) {
  .get-in-touch {
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .get-in-touch-title {
    font-size: 25px;
    margin-top: 50px;
  }

  .get-in-touch-left,
  .get-in-touch-right {
    width: 95%;
    margin: 0;
  }

  .get-in-touch-form {
    max-width: 100%;
  }

  .get-in-touch-content h2 {
    font-size: 0.9rem;
  }
  .get-in-touch-submit {
    padding: 0px;
    width: 100%;
    font-size: 0.85rem;
  }
}

@media (max-width: 430px) {
  .get-in-touch {
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .get-in-touch-title {
    font-size: 25px;
    margin-top: 50px;
  }

  .get-in-touch-left,
  .get-in-touch-right {
    width: 90%;
    margin: 0;
  }

  .get-in-touch-form {
    max-width: 100%;
  }

  .get-in-touch-content h2 {
    font-size: 0.9rem;
  }
  .get-in-touch-submit {
    padding: 0px;
    width: 100%;
    font-size: 0.85rem;
  }
}

@media (max-width: 414px) {
  .get-in-touch {
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .get-in-touch-title {
    font-size: 25px;
    margin-top: 50px;
  }

  .get-in-touch-left,
  .get-in-touch-right {
    width: 90%;
    margin: 0;
  }

  .get-in-touch-form {
    max-width: 100%;
  }

  .get-in-touch-content h2 {
    font-size: 0.9rem;
  }
  .get-in-touch-submit {
    padding: 0px;
    width: 100%;
    font-size: 0.85rem;
  }
}

@media (max-width: 390px) {
  .get-in-touch-content h2 {
    font-size: 0.95rem;
  }

  .get-in-touch-submit {
    padding: 8px;
    font-size: 0.85rem;
  }
}

@media (max-width: 375px) {
  .get-in-touch {
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .get-in-touch-title {
    font-size: 25px;
    margin-top: 50px;
  }

  .get-in-touch-left,
  .get-in-touch-right {
    width: 90%;
    margin: 0;
  }

  .get-in-touch-form {
    max-width: 100%;
  }

  .get-in-touch-content h2 {
    font-size: 0.9rem;
  }
  .get-in-touch-submit {
    padding: 0px;
    width: 100%;
    font-size: 0.85rem;
  }
}

@media (max-width: 360px) {
  .get-in-touch-content h2 {
    font-size: 0.85rem;
  }
  .get-in-touch-title {
    font-size: 23px;
    margin-top: 50px;
  }
}

@media (max-width: 344px) {
  .get-in-touch-content h2 {
    font-size: 0.8rem;
  }
  .get-in-touch-title {
    font-size: 22px;
    margin-top: 50px;
  }
}
